<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title><%= options.title %></title>
  <style>
    body {
      background-color: white;
      color: black;
    }

    h1 {
      text-align: center;
    }

    table {
      width: 100%;
      border-spacing: 2px;
      border-collapse: separate;
    }

    td {
      text-align: center;
      width: <%= 100 / options.columns %>%;
      padding: 2px;
    }

    img {
      border: 0;
      vertical-align: text-top;
    }
  </style>
</head>
<body>
  <h1><%= options.title %></h1>
  <% if index.indexes.length > 1 %>
    <p>
      <% index.indexes.each do |other_index| %>
        <% if other_index == index %>
          Page <%= other_index.number %>
        <% else %>
          <a href="<%= other_index.unqualified_page %>">Page <%= other_index.number %></a>
        <% end %>
        <% if other_index != index.indexes.last %>|<% end %>
      <% end %>
    </p>
  <% end %>
  <table>
    <% index.images.each_slice options.columns do |row| %>
      <tr>
        <% row.each do |image| %>
          <td>
            <a href="<%= image.unqualified_page %>"><img alt="<%= image.title %>" src="<%= image.unqualified_thumbnail %>"></a><br/>
            <%= image.title %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </table>
</body>
</html>
