<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title><%= image.title %></title>
  <style>
    body {
      background-color: white;
      color: black;
    }
  </style>
</head>
<body>
  <p>
    <% if image.previous %>
    <a href="<%= image.previous.number %>.html">&lt;--Previous</a>
    &nbsp;&nbsp;
    <% end %>					      
    <a href="../<%= image.index.unqualified_page %>">Up</a>
    <% if image.next %>
    &nbsp;&nbsp;
    <a href="<%= image.next.number %>.html">Next--&gt;</a>
    <% end %>					      
  </p>
  <p><img alt="<%= image.title %>" src="../<%= image.unqualified_image %>"/></p>
  <% if image.title %>
  <h1><%= image.title %></h1>
  <% end %>
  <% if image.description %>
  <p><%= image.description %></p>
  <% end %>
  <% if image.tags.any? %>
    <p>
      <% image.tags.each do |tag| %>
        <b><%= tag %></b>&nbsp;&nbsp;&nbsp;
      <% end %>
    </p>
  <% end %>
</body>
</html>
